<!-- Navigation -->
{% extends "base.html" %}


<!-- Page Header -->
{% block header %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for blog in blogs %}
      <div class="post-preview">
          <a href="{{ url_for('blog_post', blog_id=blog['id']) }}">
            <h2 class="post-title">
              {{ blog['title'] }}
            </h2>
            <h3 class="post-subtitle">
              {{ blog['subtitle'] }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">JoJo</a>
          </p>
        </div>
        <hr>
        {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
